<div fxLayout="column" fxLayoutAlign="center center" class="wheel-container" style="margin-top: 150px">
  <div class="wheel" [style.transform]="'rotate(' + wheelRotation + 'deg)'">
    <div class='wheel-item' *ngFor="let month of months; let i = index"
         [style.transform]="'rotate(' + (i*30-60) + 'deg)' + 'skew(-60deg)' | SafeStylePipe">
      <div class='wheel-item-content' [style.transform]="'skew(60deg) ' + 'rotate(' + 113 + 'deg)' | SafeStylePipe"
           (click)="selected(month.name)">
        <div class="wheel-item-title">{{month.name}}</div>
      </div>
    </div>
  </div>
  <div class="wheel-center">
  </div>
    <ew-event-wheel-sector
      *ngFor="let event of events; let i = index"
      class="wheel-sector"
      [radius]="225 + (i * 40)"
      [startAngle]="event.startAngle"
      [endAngle]="event.endAngle"
      [index]="i">
    </ew-event-wheel-sector>
</div>
